@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: calc(16px + 1vw);
}

h4 {
    font-size: 20px;
}

